<ul class="nav nav-tabs nav-stacked nava">
    <li class="active"><a>导&nbsp;航</a></li>
    <li><a name="index" href="javascript:void(0);">仪表盘</a></li>
    <!--<li><a name="warticle" href="javascript:void(0);">写文章</a></li>-->
    <li><a name="article" href="javascript:void(0);">文章管理</a></li>
    <li><a name="aclassify" href="javascript:void(0);">文章分类</a></li>
    <li><a name="label" href="javascript:void(0);">标签管理</a></li>
    <li><a name="remark" href="javascript:void(0);">评语管理</a></li>
    <li><a name="nav" href="javascript:void(0);">导航管理</a></li>
    <li><a name="moldboard" href="javascript:void(0);">模板管理</a></li>
    <li><a name="links" href="javascript:void(0);">链接管理</a></li>
    <li><a name="umanager" href="javascript:void(0);">用户管理</a></li>
</ul>