<% include includes/header %>

<div class="container">
    <div class="row">
        <div class="span2">
            <% include includes/lefter %>
        </div>
        <div class="span10" id="content">
            <% include includes/error_alert %>
            <% include includes/success_alert %>
            <div class="topmenu">
                <div class="manbtn">
                    <button id="addacname" type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> 保 存</button>
                </div>
                导航管理
            </div>
        </div>
    </div>
</div>

<% include includes/footer %>