<% include includes/header %>

<% include includes/error_alert %>
<% include includes/success_alert %>
<link href="/after/ztree/css/zTreeStyle.css" rel="stylesheet">
<script type="text/javascript" src="/after/ztree/js/jquery.ztree.core-3.5.min.js"></script>
<script type="text/javascript">
    var setting = {
        async: {
            enable: true,
            url:'/admin/navtree',
            autoParam:['_id']
        },
        data: {
            key:{
                name:'title',
                title:'title'
            }
        }
    };
    $(function(){
        $.fn.zTree.init($("#ztree"),setting);
    });
</script>
<div class="topmenu">
    <div class="manbtn">
        <a id="addnav" href="/admin/addupdatenav" class="btn btn-success"><i class="icon-plus icon-white"></i> 添加主导航</a>
    </div>
    导航管理
</div>
<div class="row-fluid">
    <div class="span2 border-style">
        <ul id="ztree" class="ztree"></ul>
    </div>
    <div class="span10" id="viewTable">

    </div>
</div>
<script type="text/javascript">
    $(function(){
        $.myblog.nav_list('0');
    });
</script>
<% include includes/footer %>