<% include includes/header %>

<% include includes/error_alert %>
<% include includes/success_alert %>
<div class="topmenu">
    <div class="manbtn">
        <button id="addacname" type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> 保 存</button>
    </div>
    导航管理
</div>
<% include includes/footer %>