<% include includes/header %>

<div class="topmenu">
    <div class="manbtn">
        <a id="addarticle" href="/admin/warticle" class="btn btn-success"><i class="icon-plus icon-white"></i> 添 加</a>
    </div>
    评语管理
</div>

<% include includes/footer %>