<% include includes/header %>

<div class="container">
    <div class="row">
        <div class="span2">
            <% include includes/lefter %>
        </div>
        <div class="span10" id="content">
            <div class="topmenu">
                <div class="manbtn">
                    <a id="addarticle" href="/admin/warticle" class="btn btn-success"><i class="icon-plus icon-white"></i> 添 加</a>
                </div>
                评语管理
            </div>
        </div>
    </div>
</div>

<% include includes/footer %>