<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/skins/default/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/skins/default/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/skins/default/stylesheets/style.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">MyBlog</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">首页</a></li>
                    <li><a href="#about">Node.js</a></li>
                    <li><a href="#contact">MongoDB</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Java <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <% if (!locals.user) { %>
                <form class="navbar-form pull-right" method="post" action="/postlogin">
                    <input class="span2" type="text" name="inputName" placeholder="用户名">
                    <input class="span2" type="password" name="inputPassword" placeholder="密码">
                    <button type="submit" class="btn">登录</button>
                </form>
                <% }else { %>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">欢迎 : <%= locals.user.name%><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">设置</a></li>
                                <li><a href="/logout">退出</a></li>
                            </ul>
                        </li>
                    </ul>

                <% } %>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
</body>
</html>