<% include includes/header %>
<div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <% include includes/banner %>
    <!-- Example row of columns -->
    <div class="row-fluid">
        <div class="span10">
            <%
                if(articles) {
                    articles.forEach(function(article){
            %>
                            <h2><%= article.title %></h2>
                            <p class="text-format">
                                <%- article.content -%>
                            </p>
                            <p class="pull-right"><a href="/showart/<%= article._id %>">&lt;&lt;阅读全文</a></p>
                            <hr style="clear:right;">
            <%
                    });
                }
            %>
            <% include includes/pagination %>
        </div>
        <div class="span2" style="padding-top: 10px;">
            <% include includes/right %>
        </div>
    </div>
</div>

<% include includes/footer %>